<h4>API Metrics</h4>

<ul class="nav nav-tabs">
  <li><a href="<%= apimetrics_path %>">Text</a></li>
  <li><a href="<%= get_haproxy_link %>">LoadBalancer</a></li>
  <li><a data-no-turbolink='true' href="<%= apimetrics_008_path %>">Pacs008 Chart</a></li>
  <li><a data-no-turbolink='true' href="<%= apimetrics_002_path %>">Pacs002 Chart</a></li>
</ul>
