<%
   if @fis && @fis.size > 0
     sent_count = 0
     rec_count = 0
     @fis.each do |fi|
       if !fi.msg_name.empty?
         if fi.msg_name.downcase.include? "sent"
           sent_count += fi.total_count
         elsif fi.msg_name.downcase.include? "received"
           rec_count += fi.total_count
         end
       end
     end
   end
   if @apis && @apis.size > 0
     in_count = 0
     out_count = 0
     @apis.each do |api|
       if !api.msg_name.empty?
         if api.msg_name.downcase.include? "in"
           in_count += api.total_count
         elsif api.msg_name.downcase.include? "out"
           out_count += api.total_count
         end
       end
     end
   end
%>

<div id="dashboard_counts">
  <div class="row-fluid">
    <div class="span3">
      <p class="text-center">TOTAL IN<br/><br/>
        <span style="font-size:28px;"><%= in_count %></span>
      </p>
    </div>
    <div class="span3">
      <p class="text-center">TOTAL OUT<br/><br/>
        <span style="font-size:28px;"><%= out_count %></span>
      </p>
    </div>
    <div class="span3">
      <p class="text-center">FI SENT<br/><br/>
        <span style="font-size:28px;"><%= sent_count %></span>
      </p>
    </div>
    <div class="span3">
      <p class="text-center">FI RECEIVED<br/><br/>
        <span style="font-size:28px;"><%= rec_count %></span>
      </p>
    </div>
  </div>
</div>

