<div class="row-fluid">
  <div class="span6 well">
    <div id="container8In"></div>
  </div>
  <div class="span6 well">
    <div id="container8Out"></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <div id="container8Cassie"></div>
  </div>
  <div class="span6 well">
    <div id="container8Errors"></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <div id="container2In"></div>
  </div>
  <div class="span6 well">
    <div id="container2Out"></div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6 well">
    <div id="container2Cassie"></div>
  </div>
  <div class="span6 well">
    <div id="container2Errors"></div>
  </div>
</div>
